*{
    margin: 0;
    padding: 0;

}
body {
  display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #f4e4ba;
}
.container{
background-color: #fff;
padding: 2rem;
border-radius: 1rem;
min-height: 45vh;
width: 45vh;
}

h2{
font-size: 2rem;
text-align: center;
margin-bottom: 5px;
}
form button {
height: 2.5rem;
background-color: #af4d98;
color: #fff;
font-size: 1.15rem;
cursor: pointer;
}
button,
input {
width: 100%;
border: none;
outline: none;
border-radius: 0.75rem;
} 

form input {
border: 1px solid lightgray;
font-size: 1rem;
height: 3rem;
padding-left: 0.5rem;
}
p{
margin-top: 6px;
color: rgb(255, 0, 98);
}
form label{
margin: 5px;
color: #af4d98;
font-size: 1.5rem;
}